body {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
   
    color: whitesmoke;

}

.outer{
    line-height:1em;
    width:35%;
    background-color:#3c576c;
    padding:0.5em 6em 0.5em 6em;
    
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top:1em;
    font-size:2.1em;
    line-height:0.5em;
}

img {
    width: 8rem;
    height: 7rem;
}

.subHead{
    text-align:center;
    width:100%;
    font-size:2.4em;
    line-height:1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.subHead2{
    text-align:center;
    width:100%;
    font-size:2.5em;
    padding:0.1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.formsection{
    line-height:3em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:1em;
}

.innForm1 {
    font-size:1em;
    width: 100%;
    padding-top:2em;
    row-gap:1em;
}


input{
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    width:100%;
}

.subField{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:2em;
    row-gap:1em;
    padding-top:2em;
}

.subfieldDob{
    display:flex;
    flex-direction:column; 
    width:90%;   
}

.subAddress{
    font-size:0.8em;
}

.subAddressField{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:2.5em;
    row-gap:1em;
    padding-top:0.5em;
    
}
.dob{
    border-bottom:none;
    text-transform:uppercase;
    color:grey;
    letter-spacing:0.8em;
    padding-left:1em;
}
hr{
    float:left;
    width:15em;
    outline:none;
    border:none;
    border-bottom:1px solid white;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background-color:white;
    border-radius:0.9em;
    padding:0.5em 1em 0.5em 1em;
}


